<ul class="c-sidebar-nav">
    <li class="c-sidebar-nav-item">
        <a
            class="c-sidebar-nav-link"
            matRipple
            routerLink="home"
            routerLinkActive="c-active"
        >
            <!-- core ui icon -->
            <i class="c-sidebar-nav-icon">
                <mat-icon>home</mat-icon>
            </i>
            Dashboard
        </a>
    </li>

    <li class="c-sidebar-nav-item">
        <a
            class="c-sidebar-nav-link"
            matRipple
            routerLink="produto"
            routerLinkActive="c-active"
        >
            <i class="c-sidebar-nav-icon">
                <mat-icon>splitscreen</mat-icon>
            </i>
            Produto
        </a>
    </li>

    <li class="c-sidebar-nav-item">
        <a
            class="c-sidebar-nav-link"
            matRipple
            routerLink="cliente"
            routerLinkActive="c-active"
        >
            <i class="c-sidebar-nav-icon">
                <mat-icon>splitscreen</mat-icon>
            </i>
            Cliente
        </a>
    </li>

    <li class="c-sidebar-nav-item">
        <a
            class="c-sidebar-nav-link"
            matRipple
            routerLink="funcionario"
            routerLinkActive="c-active"
        >
            <i class="c-sidebar-nav-icon">
                <mat-icon>splitscreen</mat-icon>
            </i>
            Funcionario
        </a>
    </li>

    <li class="c-sidebar-nav-item">
        <a
            class="c-sidebar-nav-link"
            matRipple
            routerLink="sale"
            routerLinkActive="c-active"
        >
            <i class="c-sidebar-nav-icon">
                <mat-icon>point_of_sale</mat-icon>
            </i>
            PDV
        </a>
    </li>

    <li class="c-sidebar-nav-item">
        <a
            class="c-sidebar-nav-link"
            matRipple
            routerLink="sales"
            routerLinkActive="c-active"
        >
            <i class="c-sidebar-nav-icon">
                <mat-icon>attach_money</mat-icon>
            </i>
            Vendas
        </a>
    </li>

    <mat-divider></mat-divider>

    <!-- conteudo da página -->
    <ng-content></ng-content>
</ul>
